<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Air</string>
	<key>ordering</key>
	<array>
		<string>EFA0ABEB-9BB5-4615-AE1B-44E417B0FC89</string>
		<string>7CE80D53-38A8-45C0-A993-FA11CF272883</string>
		<string>B1A69B14-37B2-4D7C-994D-DB138729BE21</string>
	</array>
	<key>uuid</key>
	<string>4E6B83B6-EEE7-404E-9EA6-CFF7EF272E57</string>
</dict>
</plist>
